{{!============product__alert==========================}}
<section class='card'>

  <p>{{info}}</p>
  <a class='btn' href='/'>Повернутися назад</a>
  <a href='product-list'>Список товарів</a>
</section>