{{!==========PRODUCT-CREATE=========================}}
<h1>Створення товару</h1>
<section class='card'>
  <div class='form'>
    <p class='form__title'>Інформація про товар</p>
    <form method='POST' action='/product-create'>
      <div class='form__content'>
        <div class='form__info'>
          <div class='form__product'>
            <label for='name' class='form__label'>Назва
              товару</label>
            <input
              type='name'
              name='name'
              class='form__input'
            />
          </div>
          <div class='form__product'>
            <label
              for='price'
              class='form__label'
            >Ціна</label>
            <input
              type='number'
              name='price'
              class='form__input'
            />
          </div>
        </div>

        <div class='form__product'>
          <label
            for='description'
            class='form__label'
          >Короткий опис товару</label>
          <textarea
            type='description'
            name='description'
            class='form__input'
          ></textarea>

        </div>
        <button class='form__button'>Створити товар</button>
      </div>
    </form>

  </div>
</section>